[Desktop Entry]
Categories=Utility;
Comment=OpenRGB 0.9+ (1.0rc2), for controlling RGB lighting.
Icon=OpenRGB
Name=OpenRGB
StartupNotify=true
Terminal=false
Type=Application
Exec=/home/devi/openrgb/OpenRGB_1.0rc2_x86_64_0fca93e.AppImage --profile "deoxizn"
